<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../shared/header'); %>
</head>
<body class="container">

<header>
    <p>header</p>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
    <div id="#ig_content"></div>
</main>

<footer>
    <%- include('../shared/footer'); %>
</footer>

</body>
</html>